.App {
  text-align: center;
  display : flex;
}

.link{
  height: 600px;
  width : 400px;
  transition:0.2s;
  /* border-radius:5px; */
  object-fit: cover;
}

.link:hover{
  transform : scale(1.04)
}
.movie-block{
margin:15px;
/* border : 1px solid black; */
padding : 10px;

}

.p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
}
